<div class="card-ctn">
    <div class="card-section-ctn">
        <div class="card-image-ctn">
            <div>
                <img src="<%-beer.image_url%>" style="height: 200px">
            </div>
        </div>
        <div class="card-txt-ctn">
            <div>
                <a href="/beers/beer-<%-beer.id%>/"><%-beer.name%></a>
            </div>
            <div class="beer-tagline">
                <%-beer.tagline%>
            </div>
            <div>
                <%-beer.description%>
            </div>
        </div>
    </div>
</div>